/* add css module styles here (optional) */

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
  

.list_container{
	-webkit-animation: fade-in 0.3s ease-in-out both;
	animation: fade-in 0.3s ease-in-out both;

	border-radius: 0.5em;
	animation-name: appear;
	animation-duration: 0.2s;
  	animation-iteration-count: 1;
}

.button
{
	
}


